<!-- Header -->
<header id="header">
    <div class="container header-container">
        <a href="/"><img src="https://i.ibb.co/x8X2gGkz/logo.png" class="logo"></a>
        <div class="menu_button">
            <button class="mobile-menu-btn" id="mobile-menu-btn">☰</button>
        </div>
        <nav>
            <ul id="nav-menu">
                <li><a href="/content">Content</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>